<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a University by Name or by Country!</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://source.unsplash.com/1201x501/?university,degree">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Search a University Directly</h2>
              <p class="leading-relaxed text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ducimus numquam repellendus iste qui aut doloremque molestiae repellat saepe ratione suscipit in et, laudantium nihil expedita consequatur quas optio enim.</p>
              <a href="./search_university">  <button class="flex mx-auto mt-6 text-white bg-pink-500 border-0 py-2 px-5 focus:outline-none hover:bg-pink-600 rounded">Search</button></a>
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://source.unsplash.com/1202x502/?university,degree">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Search All Universities in a Country</h2>
              <p class="leading-relaxed text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illum vel nisi praesentium, dolorem esse aspernatur perferendis sunt sint, porro necessitatibus officiis veniam maxime, distinctio molestiae asperiores voluptate architecto dolor?</p>
             <a href="./see_country_universities"> <button class="flex mx-auto mt-6 text-white bg-pink-500 border-0 py-2 px-5 focus:outline-none hover:bg-pink-600 rounded">Search</button></a>
            </div>
          </div>
        </div>
      </section>
</body>
</html>